<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI18" path="*" verb="*" modules="FastCgiModule" 
      scriptProcessor="C:\Users\Alumno\AppData\Local\Programs\Python\Python312\python.exe|C:\Users\Alumno\AppData\Local\Programs\Python\Python312\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
  </system.webServer>
  <appSettings>
    <add key="WSGI_HANDLER" value="venta.app"/>
    <add key="PYTHONPATH" value="C:\finalBE"/>
    <add key="WSGI_LOG" value="C:\finalBE\app.log" />
  </appSettings>
</configuration>
